{% extends 'base.html' %}
{% block content %}
<style>

body{
    background-color: #FAFAFA;
    font-family:  'Lora', serif;
    margin: 0;
    padding: 0;
}


</style>
<div class="header">

    <a href="#content"> VIEW PITCHES </a> 

</div>
<div class="row">

</div>
{% for pitch in pitches %}
        
<div class="col-md-4">
    <div class="card-deck">
            <div class="card" style="box-shadow: 3px 3px 5px #CFD8DC">
                    <div class="card-content">
                        <div class="card-header-blue" style="color:#00BCD4">
                           <h2 class="card-heading" style="text-align:center;text-decoration-line: underline">{{pitch.pitch_title}}</h2>
                           </div>
                           <div class="card-body">
                           <p class="card-p" style="font-size:16px ">
                                {{pitch.pitch_body}}
                                
                            </p>
                            <a href="/pitch_review/{{pitch.id}}?upvote=1" ><i   class="fas fa-thumbs-up"> {{pitch.upvote}}</i></a><a href="/pitch_review/{{pitch.id}}?downvote=1" ><i   class="fas fa-thumbs-up"> {{pitch.downvote}}</i></a>
                            <a href="/articles/{{source.id}}" class="btn btn-primary">Comments</a>
                         </div>
            </div>
            
            </div>
    </div>

</div>
{% endfor %}

{% endblock %}

